@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background-color: rgb(18, 18, 18);
	color: rgb(255, 255, 255);
}
body {
	height: 100vh;
}
